a {
    text-decoration: none;
}
a:hover {
    border-bottom: none;
    text-decoration: none;
}

.main-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.modal-window {
    position: relative;
    z-index: 100;
    
}

.input-container {
display: flex;
margin-bottom: 0px;
font-size: 22px;
height: 50px;
}
.icon {
padding: 9px;
min-width: 50px;
text-align: center;
color: #000;

}
 
 .input-field {
width: 100%;
padding: 10px;
outline: none;
}

.btn-input{
width: 200px;
border-radius: 10px;
background-color:  rgb(102, 99, 99);
border:2px solid #fff;
margin-top: 20px;
}
.btn-input:hover {
background-color:  rgb(187, 179, 179);
border:2px solid #fff;
}
.modal-overlay {
position: fixed;
top:9%;
width: 100%;
z-index: 100;
}
.modal-window {
width: 70%;
z-index: 100;
margin: 0 auto;
height: auto;
background-color: #212529eb;
/* border: 2px solid #fdc501; */
border-radius: 10px;
max-width: 900px;
}
.list-group {
margin: 0;
background-color: #212529eb;
}
.list-group-item {
font-size: 16px;
padding: 5px 20px;
    background-color: #212529eb;
color: #fff;
}
.modal-title {
margin: 0 auto;
font-size: 20px;
}
.fa-check-circle {
    color: green;
font-size: 60px;

}
.modal-header {
display: flex;
flex-direction: column;
align-items: center;
}
.list-group {
width: 60%;
align-self: center;
margin: 0 auto;
}
.modal-title {
color: green;
padding: 20px;
text-align: center;
}
.form-control._error {
box-shadow: 0 0 10px red;
}
.form-group {

position: relative;


}
.main-form {
width: 70%;

}
.label {
color: #000;
margin-left: 10%;
margin-top: 20px;
margin-bottom: 0px;
font-style: italic;

}



.front{
transform: rotateY(180deg);
transition: 3s;
}
.back{
transform: rotateY(0deg);
transition: 3s;
}

.form-control, .form-control-select {
/* color: #fff;
background: transparent !important;
border: none !important;
border-bottom: 2px solid #fff !important; */
font-size: 16px;
font-weight: bold;
/* box-shadow: 5px 5px 20px rgba(255,255,255,0.8); */

}
/* .select-item{
background: #000;
} */
/* .form-control::placeholder, .form-control-select::placeholder {
color: #fff;
}
.form-control:focus {
color: #fff;

} */

#header-login {
background-color:  rgb(102, 99, 99);
border:2px solid #fff;
border-radius: 10px;
}
.header-call {
text-decoration: none;
}
.modal-buttons {
width: 150px;
border-radius: 10px;
background-color:  rgb(102, 99, 99);
border:2px solid #fff;
margin-top: 20px;
}

.modal-buttons:hover {
background-color:  rgb(187, 179, 179);
border:2px solid #fff;
}
/* ::-webkit-calendar-picker-indicator {
filter: invert(1);
} */


@media (max-width: 1080px) {


.main-form {
width: 85%;

}
#header-login{
font-size: 18px;
}
#header-menu {
margin-top: 0px;

}
.modal-overlay {
position: fixed;
top:2%;
width: 100%;
z-index: 100;
}
.modal-title {
margin: 0 auto;
font-size: 15px;
}
.modal-window {
width: 90%;
}
.modal-buttons {
width: fit-content;
border-radius: 10px;
background-color:  rgb(102, 99, 99);
border:2px solid #fff;
margin-top: 20px;
font-size: 12px;
}
.modal-footer {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
/* flex-wrap: wrap; */
-ms-flex-align: center;
/* align-items: center; */
-ms-flex-pack: end;
justify-content: center;
padding: .75rem;
border-top: 1px solid #dee2e6;
border-bottom-right-radius: calc(.3rem - 1px);
border-bottom-left-radius: calc(.3rem - 1px);
/* align-items: center; */
/* text-align: center; */
}
}

@media (max-width: 1023px) and (max-width: 767px) {

}
@media (min-width: 768px) {


}
@media (max-width: 767px) {
    .modal-overlay {
position: fixed;
top:2%;
width: 100%;
z-index: 100;
}
.modal-title {
margin: 0 auto;
font-size: 15px;
}
.modal-window {
width: 90%;
}
.modal-buttons {
width: fit-content;
border-radius: 10px;
background-color:  rgb(102, 99, 99);
border:2px solid #fff;
margin-top: 20px;
font-size: 14px;
}
.modal-footer {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
/* flex-wrap: wrap; */
-ms-flex-align: center;
/* align-items: center; */
-ms-flex-pack: end;
justify-content: center;
padding: .75rem;
border-top: 1px solid #dee2e6;
border-bottom-right-radius: calc(.3rem - 1px);
border-bottom-left-radius: calc(.3rem - 1px);
/* align-items: center; */
/* text-align: center; */
}
.form-label {
   display: none;
}
.list-group {
width: 100%;
align-self: center;
margin: 0 auto;
}
.main-form {
width: 70%;
max-width: 800px;

}

#header-menu {
margin-top: -50px;
z-index: 100;
}
.logo-main {
display: none;
}
.front {
margin-top: 100px;
}
.list-group-item {
font-size: 14px;
padding: 5px 15px;
}

.main-section {

margin-top: -90px;
}
}
@media (max-width: 560px) {
.modal-overlay {
position: fixed;
top:2%;
width: 100%;
z-index: 100;
}

.label {
display: none;
}
.modal-title {
margin: 0 auto;
font-size: 15px;
}
.modal-window {
width: 90%;
}
.modal-buttons {
width: fit-content;
border-radius: 10px;
background-color:  rgb(102, 99, 99);
border:2px solid #fff;
margin-top: 20px;
font-size: 12px;
}
.modal-footer {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
/* flex-wrap: wrap; */
-ms-flex-align: center;
/* align-items: center; */
-ms-flex-pack: end;
justify-content: center;
padding: .75rem;
border-top: 1px solid #dee2e6;
border-bottom-right-radius: calc(.3rem - 1px);
border-bottom-left-radius: calc(.3rem - 1px);
/* align-items: center; */
/* text-align: center; */
}
.form-label {
   display: none;
}

.main-form {
width: 90%;

}
#header-logo{
position: absolute;
padding: 20% 3%;
}


}
@media (max-width: 440px) {
.list-group {
width: 100%;
align-self: center;
margin: 0 auto;
}
#header-logo{
display: none;
} 

.list-group-item {
font-size: 12px;
padding: 0 15px;
}

#header-login {
margin-top: 30px;
}
}
